<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ if .Site.Params.Author }}
  <meta name="author" content="{{ .Site.Params.Author }}" />
  {{ end }}
  {{ if .Site.Params.Description }}
  <meta
    name="description"
    content="{{ .Site.Params.Description }}"
  />
  {{ end }}
  <title>{{ .Site.Title }}</title>
  <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <style>
    @font-face {
      font-family: "Bree Serif";
      src: url("./BreeSerif-Regular.ttf") format("truetype");
    }
    .font-bree {
      font-family: "Bree Serif", serif;
    }
    .hide {
      display: none;
    }
    .active {
      background-color: #4299e1;
      color: white;
    }
    .active:hover {
      color: white;
    }
  </style>
</head>
