<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
  />
  </head>
  <body>
    <section class="text-gray-700 body-font">
      <div
        class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
      >
        <div class="text-center lg:w-2/3 w-full">
          <h1
            class="title-font text-6xl mb-4 font-medium text-gray-900"
          >
            404
          </h1>
          <p class="mb-8 leading-relaxed">
            Looks like you are lost
          </p>
          <div class="flex justify-center">
            <a
              href="{{ .Site.BaseURL }}"
              class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            >
              Go back home
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
